pkgbase = timeler-bin
	pkgdesc = Atmospheric focus and pomodoro timer with live weather transitions
	pkgver = 1.2.0
	pkgrel = 1
	url = https://github.com/atharva2012tiwari/timeler
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = libepoxy
	depends = jsoncpp
	depends = hicolor-icon-theme
	optdepends = zenity: For native file picker dialogs
	provides = timeler
	conflicts = timeler
	source = timeler-bin-1.2.0.tar.gz::https://github.com/atharva2012tiwari/timeler/releases/download/v1.2.0/timeler-1.2.0-linux-x64.tar.gz
	source = com.timeler.Timeler.desktop::https://raw.githubusercontent.com/atharva2012tiwari/timeler/v1.2.0/packaging/linux/com.timeler.Timeler.desktop
	source = com.timeler.Timeler.svg::https://raw.githubusercontent.com/atharva2012tiwari/timeler/v1.2.0/packaging/linux/com.timeler.Timeler.svg
	source = com.timeler.Timeler.png::https://raw.githubusercontent.com/atharva2012tiwari/timeler/v1.2.0/packaging/linux/com.timeler.Timeler.png
	source = com.timeler.Timeler.metainfo.xml::https://raw.githubusercontent.com/atharva2012tiwari/timeler/v1.2.0/packaging/linux/com.timeler.Timeler.metainfo.xml
	source = LICENSE::https://raw.githubusercontent.com/atharva2012tiwari/timeler/v1.2.0/LICENSE
	sha256sums = 9c829ca14849286afa6678befbaa8a98c5e4be61115051930b7d9e44ac441d24
	sha256sums = d909dd98498934f8e004516c47076b61c8fd784f2b953746b25bdd610e24e925
	sha256sums = 4ece2ac2e71a08cae24e06487dfaf2cee0d57be979e87e26dbc93235a6833258
	sha256sums = 2fb4ef39e9d560c7844e2f1784d831b38a7d225acee6fd329abbef3db7b11a04
	sha256sums = 8dad9450113b67929ae88c061ee9d617737c2e2a549eea5715b49c37472cd92f
	sha256sums = 1c482fe25f66bea2f463f54a9fba6f3b3a230e48680d1fcad506654fa54e841d

pkgname = timeler-bin
